;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[macchiato/core "0.2.16"]
  [com.taoensso/timbre "5.1.2"]
  [metosin/reitit "0.5.16"]
  [metosin/spec-tools "0.10.5"]
  ^:dev [orchestra "2021.01.01-1"]]

 :builds
 {:node-test
  {:target :node-test
   :output-to "target/test/node-tests.js"
   :autorun true}
  :app
  {:target :node-library
   :source-map true
   :exports {:server cmd.server.core/server}
   :output-dir "out/cmd/server"
   :output-to "out/cmd/server/main.js"
   :compiler-options {:optimizations :simple}
   :closure-defines {cmd.server.config/PORT #shadow/env ["PORT" :as :int :default 3000]
                     cmd.server.config/HOST #shadow/env ["HOST" :default "127.0.0.1"]}}
  :migrate
  {:target :node-library
   :source-map true
   :exports {:migrate cmd.migrate.core/migrate}
   :output-dir "out/cmd/migrate/"
   :output-to "out/cmd/migrate/main.js"
   :compiler-options {:optimizations :simple}
   :closure-defines {}}

  :openapi
  {:target :node-library
   :source-map true
   :exports {:openapi cmd.openapi.core/gen}
   :output-dir "out/cmd/openapi"
   :output-to "out/cmd/openapi/main.js"
   :compiler-options {:optimizations :simple}
   :closure-defines {}}}}
